In [42]:
import pandas as pd
import numpy as np
from scipy import stats
import statsmodels.api as sm

In [8]:
cutlets = pd.read_csv("Cutlets.csv")
cutlets.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [6]:
cutlets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [7]:
cutlets.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [12]:
hypo = 7.019091 - 6.964297/ (6.964297/np.sqrt(35))

In [13]:
hypo

1.1030112169003843

In [15]:
t_critical = stats.t.ppf(0.975, 34)
t_critical

2.032244509317718

In [17]:
stats.ttest_ind(cutlets["Unit A"], cutlets["Unit B"])

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

In [38]:
lab = pd.read_csv("LabTAT.csv")
lab

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [45]:
stats.ttest_ind(lab["Laboratory 1"], lab["Laboratory 2"])

Ttest_indResult(statistic=-0.2975216812891612, pvalue=0.7663277896545946)

In [44]:
sm.stats.ttest_ind(lab["Laboratory 1"], lab["Laboratory 2"])

(-0.29752168128916123, 0.7663277896545945, 238.0)

In [46]:
sm.stats.ttest_ind(lab["Laboratory 3"], lab["Laboratory 4"])

(17.729769073850765, 2.108055100036766e-45, 238.0)

In [47]:
stats.f_oneway(lab["Laboratory 1"], lab["Laboratory 2"],lab["Laboratory 3"], lab["Laboratory 4"])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [97]:
male_female = pd.read_csv("BuyerRatio.csv")
male_female

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [96]:
stats.chi2_contingency(male_female)

TypeError: '<' not supported between instances of 'str' and 'int'

In [98]:
stats.chi2_contingency(male_female.iloc[:,1:])

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [73]:
data = pd.DataFrame({"":["Male","Female"], "East":[50,435], "West":[142,1523], "North":[131,1356], "South":[70,750]})

In [74]:
data

           East  West  North  South
0    Male    50   142    131     70
1  Female   435  1523   1356    750

In [75]:
stats.chi2_contingency(data)

TypeError: '<' not supported between instances of 'str' and 'int'

In [87]:
fanta = pd.read_csv("Faltoons.csv")

In [88]:
fanta

    Weekdays Weekend
0       Male  Female
1     Female    Male
2     Female    Male
3       Male  Female
4     Female  Female
..       ...     ...
395   Female    Male
396   Female  Female
397   Female  Female
398   Female    Male
399   Female  Female

[400 rows x 2 columns]

In [89]:
fanta.Weekdays = fanta["Weekdays"].map({"Male":0,"Female":1})
fanta.Weekend = fanta["Weekend"].map({"Male":0,"Female":1})
fanta

     Weekdays  Weekend
0           0        1
1           1        0
2           1        0
3           0        1
4           1        1
..        ...      ...
395         1        0
396         1        1
397         1        1
398         1        0
399         1        1

[400 rows x 2 columns]

In [92]:
stats.ttest_ind(fanta["Weekdays"], fanta["Weekend"])

Ttest_indResult(statistic=4.038383581687957, pvalue=5.9013879428528154e-05)

In [111]:
cus = pd.read_csv("Costomer+OrderForm.csv")
cus

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [100]:
cat_data = cus.select_dtypes(exclude='number')
cat_data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [112]:
for col in cat_data:
    print(col, "\n")
    print(cat_data[col].value_counts())
    print("_____________","\n\n")

Phillippines

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
_____________


Indonesia

Error Free    267
Defective      33
Name: Indonesia, dtype: int64
_____________


Malta

Error Free    269
Defective      31
Name: Malta, dtype: int64
_____________


India

Error Free    280
Defective      20
Name: India, dtype: int64
_____________

In [113]:
for col in cus.columns:
    cus[col] = cus[col].map({"Error Free":1,"Defective":2})
    
cus

     Phillippines  Indonesia  Malta  India
0               1          1      2      1
1               1          1      1      2
2               1          2      2      1
3               1          1      1      1
4               1          1      2      1
..            ...        ...    ...    ...
295             1          1      1      1
296             1          1      1      1
297             1          1      2      1
298             1          1      1      1
299             1          2      2      1

[300 rows x 4 columns]

In [109]:
stats.chi2_contingency(cus.loc[(cus!=0).any(axis=1)])

(266.1626689587757,
 0.6997483584911622,
 279,
 array([[0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.51327434, 0.5840708 , 0.54867257, 0.3539823 ],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.51327434, 0.5840708 , 0.54867257, 0.3539823 ],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.51327434, 0.5840708 , 0.54867257, 0.3539823 ],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.51327434, 0.5840708 , 0.54867257, 0.3539823 ],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.51327434, 0.5840708 , 0.54867257, 0.3539823 ],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.51327434, 0.5840708 , 0.54867257, 0.3539823 ],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.51327434, 0.5840708 , 0.54867257, 0.3539823 ],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.51327434, 0.5840708 , 0.54867257, 0.3539823 ],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.51327434, 0.5840708 , 0.54867257, 0.3539823 ],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.51327434, 0.5840708 , 0.54867257, 0.3539823 ],
        [0.51327434, 0.5840708 , 0.54867257, 0.3539823 ],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.51327434, 0.5840708 , 0.54867257, 0.3539823 ],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.51327434, 0.5840708 , 0.54867257, 0.3539823 ],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.51327434, 0.5840708 , 0.54867257, 0.3539823 ],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.51327434, 0.5840708 , 0.54867257, 0.3539823 ],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.51327434, 0.5840708 , 0.54867257, 0.3539823 ],
        [0.51327434, 0.5840708 , 0.54867257, 0.3539823 ],
        [0.51327434, 0.5840708 , 0.54867257, 0.3539823 ],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.25663717, 0.2920354 , 0.27433628, 0.17699115],
        [0.51327434, 0.5840708 , 0.54867257, 0.3539823 ]]))

In [110]:
cus.loc[(cus!=0).any(axis=1)]

     Phillippines  Indonesia  Malta  India
0               0          0      1      0
1               0          0      0      1
2               0          1      1      0
4               0          0      1      0
6               0          1      0      0
..            ...        ...    ...    ...
291             1          0      0      0
292             0          1      0      0
294             0          1      0      0
297             0          0      1      0
299             0          1      1      0

[94 rows x 4 columns]